<%= page_header([{name: :h1, title: "Merging #{@user.username.titleize}", class: 'display-3'}]) %>

<div class="table-responsive">
  <table class="table table-hover responsive">
    <thead>
    </thead>
    <tbody>
        <tr class='table-success'>
          <td class='text-center'><%= @user.username %></td>
          <td class='text-center'><%= @user.fullname %></td>
          <td class='text-center'><%= @user.email %></td>
        </tr>
    </tbody>
  </table>
</div>

<form class="form-inline my-2 my-lg-0" _lpchecked="1">
  <input class="form-control mr-sm-2" type="text" id='query' placeholder="Search by Username">
  <button type="button" class="btn btn-secondary search">Search</button>
</form>

<p>

<div class="table-responsive" id="merge-results">
</div>

<button type="button" class="btn btn-primary merge">Merge!</button>
<%= link_to 'Back', users_path, class: 'btn btn-default', role: 'button' %>
