<%= page_header([{name: :h1, title: "Master Report", class: 'display-3'}]) %>

<div class="form-group">
  <select id="multiple-mettings" multiple="multiple">
    <% @report.all_mettings.reverse.each_with_index do |metting, index| %>
      <option value="<%= metting.id %>" <%= index.zero? ? "selected='true'" : '' %>><%= "#{metting.name} #{metting.date.strftime('%Y-%m-%d')}" %></option>
    <% end %>
  </select>
</div>

<div class="form-group">
  <select id="single-filter">
    <option value="1">Username ASC</option>
    <option value="2">Username DESC</option>
    <option value="3">Fullname ASC</option>
    <option value="4">Fullname DESC</option>
    <option value="5">Mettings Attended: High to Low</option>
    <option value="6">Mettings Attended: Low to high</option>
  </select>
</div>

<div class="form-group">
  <%= link_to 'Search', "#", id: 'master-search', class: 'btn btn-primary', role: 'button' %>
</div>

<div class="table-responsive" id="master-all">
  <%= render partial: 'reports/tables/master', locals: {report: @report } %>
</div>

<%= link_to 'Export', '#', id: 'master-export', class: 'btn btn-primary', role: 'button' %>
<%= link_to 'Back', reports_path, class: 'btn btn-default', role: 'button' %>